.about-section {
  padding: 2rem 0;
}

.number-container {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
  background: #ffffff;
  border: 1px solid #c1c1c1;
  border-radius: 17px;
}


.number-container h2,p{
    margin: 0;
}

.ux-section{
    padding: 2rem 0;
}