.about-section {
  padding: 2rem 0;
}

.number-container {
  box-sizing: border-box;
  padding: 0.5rem 0;
  margin: 1.5rem 0;
  background: #ffffff;
  border: 1.6743px solid #6084A4;
  border-radius: 17.5802px;
  height: 141.48px;
  width: 141.48px;
}


.number-container h2{
    margin: 0;
    position: flex;
    padding-top: 24px;
}

.number-container p{
  margin: 0;
  position: flex;
  padding-top: 7px;
}

.ux-section{
    padding: 2rem 0;
}