.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 2rem 0;
  background-image: url(./hero.svg);
  background-position: center;
  background-size: cover;
  height: 88vh;
}

.hero-content {
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.hero-content h1 {
  color: var(--dark-blue);
  font-size: var(--h1-font);
}
.custom-btn {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  color: white;
  border: none;
  background: var(--btn-color);
  box-shadow: 0px 13px 27px var(--btn-color);
  border-radius: 40px;
  align-content: center;
}
.arrow{
  /* arrow svg */
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.888 15.0086L10.634 13.7838L15.5332 8.88461H0.19397V7.13488H15.5332L10.6048 2.2065L11.8588 0.981689L18.8869 8.00975L11.888 15.0086Z' fill='white'/%3E%3C/svg%3E%0A");
  background-position: right 3px center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

}

.custom-btn:hover, .arrow:hover{
  background-color: #4698FB;
}

.internet-txt {
  color: #4698fb;
}
.primary-txt {
  color: #0e314c;
  font-weight: bold;
}
.features-section {
  background-color: #fbfeff;
  padding: 2.5rem 0;
}
.features-content {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}
.partners-section {
  margin: 2rem 0;
}
.partners-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.separator {
  width: 35%;
  height: 2px;
  background: #3c546c;
  border-radius: 29.3631px;
}
.partner-carousel {
  display: flex;
  align-items: center;
}
.blue-bg-carousel {
  background: rgba(240, 247, 253, 0.4);
  padding: 1.5rem;
  border-radius: 4px;
  mix-blend-mode: normal;
}
.cms-section {
  margin: 2rem 0;
}
.light-blue-bg {
  background-color: var(--light-blue-bg);
}

.explore-card {
  padding: 1rem;
  background: rgba(224, 239, 254, 0.45);;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 1rem;
}
.explore-section .explore-btn {
  background: #547bf9;
  color: white;
  border: none;
  box-shadow: 0px 13px 27px var(--btn-color);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-transform: uppercase;
}
.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 0;
}
.find-out-txt {
  color: var(--dark-blue) !important;
  font-size: 16px;
}

.comparison-section{
  padding: 1rem ;
}
.primary-circle {
  width: 5rem;
  height: 5rem;
  background: #547bf9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
ol.services-list {
  padding-left: 1rem;
}
.service{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.service-des-txt{
  margin: 0.5rem 0;
}
.advantages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.advantages ul {
  margin: 0;
  padding: 0;
}
.read-more-btn {
  text-decoration: none;
  color: var(--dark-blue);
}

/* .team-section {
  margin: 2rem 0;
} */
.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card-icons {
  display: flex;
  gap: 0.5rem;
}

.signup-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.subscribe-form {
  width: 100%;
}
.subscribe-form .input-felid {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  background: white;
  padding: 0.5rem;
  border-radius: 70px;
}
.subscribe-form .input-felid button {
  background: var(--btn-color);
  border-radius: 70px;
  padding: 0.5rem 1.5rem;
  border: none;
  color: white;
}
.subscribe-form .email-input {
  flex-grow: 1;
  border: none;
  border-radius: 70px;
}
@media (max-width: 992px) {
  .hero-section {
    padding: 1rem 0;
  }
}

@media (min-width: 992px) {
  .find-out-txt {
    color: var(--dark-blue) !important;
    font-size: 24px;
  }
}
