.hero-section {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  margin: 1rem 0;
}
.hero-content h1 {
  color: var(--dark-blue);
  font-size: var(--h1-font);
  text-shadow: 0px 4px 4px var(--btn-color);
}
.hero-content .explore-btn {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  color: white;
  border: none;
  text-transform: uppercase;
  background: var(--btn-color);
  box-shadow: 0px 13px 27px var(--btn-color);
  border-radius: 4px;
}
.internet-txt {
  color: #4698fb;
}
.primary-txt {
  color: #0e314c;
  font-weight: bold;
}
.features-section {
  margin: 2rem 0;
}
.partners-section {
  margin: 2rem 0;
}
.partners-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.separator {
  width: 35%;
  height: 2px;
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.partner-carousel {
  display: flex;
  align-items: center;
}
.blue-bg-carousel {
  background: rgba(84, 123, 249, 0.4);
  padding: 1.5rem;
  border-radius: 4px;
  mix-blend-mode: normal;
}
