.blog {
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  padding: 0.5rem;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.blog-img-container {
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  background-color: var(--light-blue-bg);
  overflow: hidden;
}
