.blog {
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  padding: 0;
  background: #F7FAFD;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog-img-container {
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  background-color: var(--light-blue-bg);
  overflow: hidden;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

.btn-format {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13.9833px;
line-height: 150%;
/* or 21px */


color: #0E314C;
}