.feature-container {
  height: 100%;
  display: flex;
}
.feature {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  text-align: center;
  flex-grow: 1;
  text-align: start;
}
.feature-img-container {
  position: relative;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-img-container img {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.feature .explore-btn {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border: none;
  background: transparent;
  border-radius: 4px;
  color: #086ad8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blue-circle {
  height: 38px;
  width: 38px;
  background-color: var(--light-blue);
  border-radius: 50%;
  z-index: 0;
}
