nav {
  padding: 1rem 0;
}

.links {
  padding: 0;
  margin: 0;
  display: flex;
}

.link-item {
  list-style: none;
  padding: 0.5rem 1rem;
}

.link-item .link {
  text-decoration: none;
  color: var(--blue);
}

.links-container {
  display: none;
}

.group-btn button {
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.group-btn .support-btn {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 2px solid #547bf9;
  box-sizing: border-box;
}

.group-btn .login-btn {
  background: #547bf9;
  color: white;
  border: none;
  box-shadow: 0px 13px 27px var(--btn-color);
}
.burger {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  padding: 0.5rem;
}

.burger span {
  width: 4rem;
  height: 2px;
  background-color: var(--btn-color);
  border-radius: 1px;
}

.mob-header {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  background-color: white;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 10px #85888c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-nav-links {
  margin-top: 4rem;
  width: 100%;
}
.mobile-nav-links ul {
  margin: 0;
  padding: 0;
}
.mobile-nav-links li {
  list-style: none;
  margin: 1rem 0;
}
@media (min-width: 992px) {
  .links-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
  }
  .burger {
    display: none;
  }
}

.nav-show-anim {
  animation: nav-show-anim 0.5s ease-out;
}
.nav-hide-anim {
  animation: nav-hide-anim 0.5s ease-out;
}
@keyframes nav-show-anim {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes nav-hide-anim {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
