@font-face {
  font-family: "Meutas";
  src: local("Meutas"), url(fonts/Meutas-Regular.otf) format("woff");
}
.f-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fg-between {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.f-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
:root {
  --blue: #4a6f8a;
  --light-blue: #D6E8FE;
  --light-blue-bg: rgba(70, 152, 251, 0.2);
  --dark-blue: #0e314c;
  --gray:#5D616F;
  --black:#05060A;
  --btn-color: #547bf9;
  --btn-radius: 40px;
  --h1-font: 40px;
  --card-radius: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-family: "Meutas";
}
p,
a,
span {
  color: var(--gray) !important;
  font-family: "Meutas";
  font-size: 14px;
}
.partner-carousel .kdCslO {
  display: none;
}
.form-group {
  margin-bottom: 1rem;
}
.pointer{
  cursor: pointer;
}
