@font-face {
  font-family: "Meutas";
  src: local("Meutas"), url(fonts/Meutas-Regular.otf) format("woff");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), url(fonts/Poppins-Regular.ttf) format("TrueType");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"), url(fonts/Poppins-SemiBold.ttf) format("TrueType");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium"), url(fonts/Poppins-Medium.ttf) format("TrueType");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light Italic"), url(fonts/Poppins-LightItalic.ttf) format("TrueType");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light"), url(fonts/Poppins-Light.ttf) format("TrueType");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(fonts/OpenSans-Regular.ttf) format("TrueType");
  font-weight: normal;
}

.f-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fg-between {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.f-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fcg {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
:root {
  --blue: #4a6f8a;
  --light-blue: #D6E8FE;
  --light-blue-bg: rgba(70, 152, 251, 0.2);
  --dark-blue: #0e314c;
  --gray:#5D616F;
  --black:#05060A;
  --btn-color: #547bf9;
  --btn-radius: 40px;
  --h1-font: 40px;
  --card-radius: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-family: "Poppins";
  margin-bottom: 0 !important;
}
p {
  font-size: 1rem;
}
p,
a,
span {
  color: var(--gray) !important;
  font-family: "Open Sans";
}
span {
  font-size: 14px;
}
.partner-carousel .kdCslO {
  display: none;
}
.form-group {
  margin-bottom: 1rem;
}
.pointer {
  cursor: pointer;
}
.table-header {
  background-color: #f5f6fc;
}

table {
  border-collapse: initial !important;
}
