@font-face {
  font-family: "Meutas";
  src: local("Meutas"), url(fonts/Meutas-Regular.otf) format("woff");
}
.f-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.fg-between {
  display: flex;
  gap: 0.5rem;
}
:root {
  --blue: #4a6f8a;
  --light-blue: #6084a4;
  --dark-blue: #0e314c;
  --btn-color: #547bf9;
  --btn-radius: 4px;
  --h1-font: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-blue);
  font-family: "Meutas";
}
p,
span {
  color: var(--light-blue);
  font-family: "Meutas";
}
.partner-carousel .kdCslO {
  display: none;
}
